@import '_global.scss';
@import '_grid.scss';

.mlwoo {
	&__search {
		margin-bottom: 2rem;

		input {
			width: 100%;
			padding: 0.5rem 1rem;
			padding-right: 48px;
			font-size: var( --font-size-1 );
		}
	}

	&__search-wrapper {
		position: relative;
	}

	&__search-results {
		position: fixed;
		bottom: 0;
		left: 50%;
		transform: translate( -50%, 100% );
		width: calc( 100% - 1rem );
		height: calc( 100vh - 80px );
		z-index: 100;
		border-radius: var( --radius ) var( --radius ) 0 0;
		background: #fff;
		border: 1px solid var( --silver );
		border-bottom: 0;
		overflow-y: scroll;
		transition: transform 0.4s ease;

		&--slide-in {
			transform: translate( -50%, 0 );
			transition: transform 0.4s ease;
		}

		.mlwoo__grid--products {
			margin: 0;

			.mlwoo__grid-item__title {
				font-size: var( --font-size-4 );
			}
		}
	}

	.mlwoo__grid--products {
		.mlwoo__grid-item__category {
			font-size: var( --font-size-4 );
		}

		.mlwoo__grid-item__title {
			font-size: var( --font-size-2 );
		}
	}

	&__clear-btn {
		display: none;
		position: absolute;
		top: 50%;
		right: 12px;
		transform: translate( 0, -50% );
		width: 24px;
		height: 24px;

		img {
			display: block;
			max-width: 24px;
			height: auto;
		}
	}

	&__load-more-spinner {
		opacity: 0;

		&--show {
			opacity: 1;
		}

		img {
			display: block;
			margin: 0 auto;
			padding-top: 1rem;
			padding-bottom: 2rem;
		}
	}

	&__grid--title {
		position: relative;
		font-size: var( --font-size-2 );
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;

		span {
			display: inline-block;
			position: relative;
			background-color: #fff;
			z-index: 10;
			padding: 0.35rem 0.85rem;
			border: 1px solid var( --silver );
		}

		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			height: 1px;
			transform: translate( 0, -50% );
			background-color: var( --silver );
			z-index: 1;
		}
	}

	&__grid--category,
	&__grid--products {
		margin: 0 -0.75rem;
		margin-bottom: 2.5rem;
	}

	&__grid-item-title--category {
		position: absolute;
		left: 0;
		bottom: 30px;
		width: 100%;
		text-align: center;
		padding: 0.4rem 0.35rem;
		background-color: #fff;
		text-transform: uppercase;
		font-size: var( --font-size-4 );
		font-weight: bold;
	}

	&__grid-item--product-count {
		font-weight: normal;
		font-size: var( --font-size-4 );
		margin-top: 0.25rem;
	}

	&__grid-item-image {
		display: block;
		max-width: 100%;
		margin: 0 auto;
		height: auto;
		min-height: 125px;
		border-radius: var( --radius );
	}

	&__grid-item-meta {
		text-align: center;
		margin-top: 0.5rem;
		padding-bottom: 1rem;
	}

	&__grid-item__category {
		font-size: 0.65rem;
		font-weight: 400;
		text-transform: uppercase;
		color: var( --color-secondary-4 );
		margin: 0.75rem 0 0.45rem 0;
	}

	&__grid-item__price {
		font-weight: 700;
		margin-top: 0.5rem;

		del {
			font-size: 1rem;
			font-weight: 400;
			color: var( --color-secondary-4 );
		}

		ins {
			text-decoration: none;
		}
	}
}

.mlberk {
	&__latest-posts-list {
		margin-top: 1rem;
	}

	&__latest-posts-item {
		padding-bottom: 2rem;
		margin-bottom: 2rem;
		border-bottom: 1px solid var( --silver );

		&:last-child {
			margin-bottom: 0;
			border-bottom: none;
		}
	}

	&__latest-posts-link {
		text-decoration: none;
	}

	&__latest-posts-thumbnail {
		margin: 0 -1.25rem;

		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}

	&__latest-posts-category {
		color: var( --color-primary-2 );
		background-color: #c0893d;
		text-transform: uppercase;
		font-size: var( --font-size-3 );
		margin-top: 1rem;
		display: inline-block;
		padding: 0.25rem 0.5rem;
		border-radius: 4px;

		&:active {
			background-color: #7c5826;
		}
	}

	&__latest-posts-title {
		font-size: var( --font-size-1 );
	}

	&__latest-posts-description {
		font-size: var( --font-size-2 );
	}
}
