@import '_global.scss';

.mlwoo {
	min-height: auto;
}

.mlwoo--single-product {
	height: calc( 100vh - 80px );
	overflow-y: scroll;

	.mlwoo-breadcrumb {
		font-size: 0.85rem;
		font-weight: 700;
		text-transform: uppercase;
		line-height: 1.5;

		a {
			color: var( --font-color-body );
			font-weight: 100;
			text-decoration: none;
			font-size: 0.85rem;
		}
	}

	&__title {
		font-family: var( --font-playfair );
		font-weight: 700;
		font-size: 1.65rem;
		color: var( --font-color-title );
		margin-top: 1rem;
		margin-bottom: 0.5rem;
	}

	&__carousel {
		margin: 0 -1.25rem;
	}

	&__carousel,
	&__thumbnail-nav {
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}

	&__fp-image-item {
		border-radius: var( --radius );
	}

	&__thumbnail-nav {
		display: flex;
		flex-flow: row wrap;
		margin-top: 0.25rem;
		align-items: center;

		img {
			display: block;
			max-width: 48px;
			height: auto;
			margin-right: 6px;
			border-radius: var( --radius );
			border: 2px solid rgba( 0, 0, 0, 0 );

			&.tns-nav-active {
				border: 2px solid var( --color-secondary-1 );
			}
		}
	}

	#tns1 > .tns-item {
		padding: 1rem;

		img {
			box-shadow: 0px 0.175em 0.5em rgba(2, 8, 20, 0.1), 0px 0.085em 0.175em rgba(2, 8, 20, 0.15);
		}
	}

	&__sku-wrapper {
		display: block;
		margin: 1rem 0;
		font-weight: 700;
	}

	&__sku {
		font-weight: 400;
	}

	&__price {
		font-size: 1.5rem;
		font-family: var( --font-nunito );
		font-weight: 700;
		margin-top: 0.75rem;

		del {
			font-size: 1rem;
			font-weight: 400;
			color: var( --color-secondary-4 );
		}

		ins {
			text-decoration: none;
		}
	}

	&__product-tabs {
		margin: 0 -1.25rem;

		.woocommerce-tabs {
			& > div {
				padding: 0 1rem;
			}

			table {
				text-align: left;
			}
		}

		.wc-tabs {
			padding-left: 0;
			list-style-type: none;

			& > li {
				padding: 0 1.25rem;
				border-bottom: 1px solid var( --silver );
				background-color: var( --color-primary-2 );

				&.active {
					border-bottom: 1px solid var( --color-secondary-2 );
				}

				a {
					display: block;
					text-decoration: none;
					padding: 0.45rem 0;
				}

				&:first-child {
					border-top: 1px solid var( --silver );
				}
			}
		}

		.woocommerce-Reviews {
			textarea {
				width: 100%;
			}

			.form-submit {
				input[type="submit"] {
					@include button;
					color: var( --font-color-body );
					background-color: rgba( 0, 0, 0, 0 ) !important;
					text-transform: uppercase;
					font-weight: bold;
					border: 1px solid var( --font-color-body );

					&:active {
						background-color: var( --silver );
					}
				}
			}
		}
	}

	&__add-to-cart-form {
		display: flex;
		flex-flow: row wrap;
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 80px;
		padding: 0.85rem;
		border-top: 2px solid var( --color-primary-2 );
		background-color: #fff;
		z-index: 10;
	}

	&__quantity {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		border-radius: var( --radius );
		margin-right: 1.25rem;
		border: 1px solid var( --silver );
	}

	&__quantity-input {
		padding: 0.5rem 0.85rem;
		text-align: center;
		font-size: 1.25rem;
		border: none;
	}

	&__quantity-input-control {
		width: 35px;
		height: 35px;
		color: var( --color-secondary-5 );
		font-family: var( --font-nunito );
		font-weight: 700;
		font-size: 1.85rem;
		text-align: center;
		line-height: 32px;

		&--decrease {
			border-right: 1px solid var( --silver );
		}

		&--increase {
			border-left: 1px solid var( --silver );
		}

		&:active {
			background: var( --color-primary-2 );
		}
	}

	.mlwoo--single-product__add-to-cart-button {
		position: relative;
		height: 50px;
		flex: 1;
	}

	&__add-to-cart-spinner {
		display: none;
		@include absolute-center;

		svg {
			display: block;
		}
	}

	.flipbook-main-wrapper {
		position: relative !important;
	}

	.uber-chart-wrap {
		display: none;
	}

	.icon-inner {
		img {
			width: 100%;
			max-width: 128px;
			height: 100%;
			margin: 0 auto;
		}
	}
}

#designstudio-button,
#designstudio-minimize {
	display: block;
	top: 80% !important;
}
